@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-brand-orange: #FF8906;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  /* Global button behavior */
  button {
    cursor: pointer;
  }

  .filter-brand-orange {
    filter: invert(59%) sepia(93%) saturate(3225%) hue-rotate(351deg) brightness(102%) contrast(103%);
  }

  @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  }
}